<!DOCTYPE html>
<html>
  <head>
    <title>ChessClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main-page">
    <%= current_user.username if logged_in? %>
    <div class="nav-bar">
      <div class="flash-messages">
        <%= flash[:notice] if flash[:notice] %>
        <%= flash[:errors] if flash[:errors] %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
