<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/daf11ff38a.js"></script>
    <title>ChessClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main-page">
    <div class="nav-bar">
      <div class="flash-messages">
        <%= flash[:notice] if flash[:notice] %>
        <%= flash[:errors] if flash[:errors] %>
      </div>
    </div>

    <%= yield %>

    <footer>
      <span>Chess Club. Created by Scott Ha and Nathan Mendes</span>
      <span class="social-media-links">Social Media Links</span>
      <ul class="footer-links">
        <li><a href="https://github.com/AA-ScottHa/ChessClub"><i class="fa fa-github" aria-hidden="true"></i> Chess Club GitHub</a></li>
        <li><a href="https://github.com/mendesnathanj"><i class="fa fa-github" aria-hidden="true"></i> Nathan Mendes</a></li>
        <li><a href="https://github.com/AA-ScottHa/"><i class="fa fa-github" aria-hidden="true"></i> Scott Ha</a></li>
      </ul>

    </footer>
  </body>
</html>
